/*
     This is the official stylesheet of The Universal Dev.
     © 2017 The Universal Dev. All rights reserved.
 */

/* Global Styling */

* {
     box-sizing: border-box;
     transition: all 0.2s ease-in-out;
}

 html, body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      font-family: 'Quicksand', sans-serif;
}

.clearfix:before, .clearfix:after {
     content: " ";
     display: table;
}

.clearfix:both {
     clear: both;
}

div.wrapper {
     width: 100%;
     max-width: 90%;
     margin: 0 auto;
}

a {
     text-transform: none;
     text-decoration: none;
}

li {
     padding: 0px;
     margin: 0px;
     list-style: none;
}

ul {
     padding: 0px;
     margin: 0px;
}

section{
     margin: 15px 0;
}

a.menu {
     display: none;
}

@keyframes rockabye {
     0% {
          left: 0px;
     }

     33.33% {
          left: -50px;
     }

     66.66% {
          left: 50px;
     }

     99.99% {
          left: 0px;
     }
}

/* Navigation Styling */

section.nav {
     margin-top: 40px;
}

a.logo {
     font-weight: bold;
     float: left;
     margin-top: 17px;
     color: #24292E;
}

a.logo:hover {
     transform: scale(1.25);
}

nav {
     float: right;
     margin-top: 17px;
}

nav li {
     display: inline-block;
     padding: 0px 10px;
}

nav li a {
     color: #9AA9BE;
}

nav li a:hover {
     color: #000000;
}

nav li:first-child {
     padding-left: 0px;
}

a.logo, nav {
     display: inline-block;
}

i.fa-github {
     color: #24292E;
}

i.fa-youtube {
     color: #E62117;
}

/* Banner Styling */

section.banner {
     width: 100%;
     height: 300px;
     margin-top: 80px;
     clear: both;
     float: none;
}

section.banner h1 {
     color: #3C4857;
     text-transform: uppercase;
     font-size: 45px;
     margin-bottom: 0px;
     padding-bottom: 1px;
     padding-top: 0px;
     margin-top: 0px;
}

section.banner h1 img {
     transform: scale(0.5);
     display: inline-block;
     position: relative;
     padding: 0px;
     margin: 0px;
     bottom: 0;
     top: 50px;
     animation-name: rockabye;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
}

section.banner h2 {
     margin-top: 20px;
     padding-top: 1px;
     font-weight: normal;
}

section.banner h2 a {
     color: #9AA9BE;
     font-size: 25px;
}

section.banner h2 a span {
     padding-left: 25px;
}

section.banner h2 a:hover > span {
     padding-left: 50px;
}


section.banner div.content {
     padding-top: 0px;
}

/* Recent Posts Styling */

section.recents {
     background-color: #F0F1F5;
     width: 100%;
     height: 600px;
     box-shadow: 100px 0px 0px #F0F1F5, -100px 0px 0px #F0F1F5;
}

/* Responsive Design Styling */

@media only screen and (max-width: 768px) {
     section.nav nav.navigation {
          display: none;
     }

     section.nav nav.navigation.active {
          display: block;
          width: 100%;
     }

     section.nav nav.navigation.active li a {
          display: block;
     }

     a.menu {
          display: block;
          float: right;
     }

     a.menu i {
          color: #9AA9BE;
          padding-top: 17px;
     }
}
