---
layout: default
---

<section class="banner">
     <div class="wrapper">
          <div class="content">
               <h1>Would you like champange? <img src="/assets/earth.png" alt="code"> Code please...</h1>
               <h2><a href="https://www.youtube.com/theuniversaldev" target="_blank">By the way, what is code actually? Watch my video to learn <span><i class="fa fa-arrow-right"></i></span></a></h2>
          </div>
     </div>
</section>

<section class="posts">
     <div class="wrapper">
          {% for post in site.posts limit:6 %}
               {% if post.tag contains "code" %}
                    <div class="post">
                         <img src="{{ post.image }}" alt="{{ post.alt }}" class="image">
                         <div class="wrapper">
                              <p class="tag {{post.tag}}">{{ post.tag }}</p>
                              <h1>{{ post.title }}</h1>
                              <p>{{ post.meta }}</p>
                              <div class="button">
                                   <a href="{{post.url}}">Read Post</a>
                              </div>
                         </div>
                    </div>
               {% endif %}
          {% endfor %}
     </div>
</section>
