---
layout: default
---

<section class="banner">
     <div class="wrapper">
          <div class="content">
               <h1>Teaching the <img src="/assets/earth.png" alt="world"> code &amp; design</h1>
               <h2><a href="https://www.youtube.com/theuniversaldev" target="_blank">What is "The Universal Dev" and what is this site? <span class="icon"><i class="fa fa-arrow-right"></i></span></a></h2>
          </div>
     </div>
</section>

<section class="recents">
     <div class="wrapper">
          <!-- {% for post in site.posts limit:1 %}
               <div class="post">
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.meta }}</p>
               </div>
          {% endfor %} -->
          <ul>
               {% for post in site.posts %}
               <li>
                    <p>There's a post here</p>
               </li>
               {% endfor %}
          </ul>
     </div>
</section>
