<section class="banner" id="footer">
     <div class="wrapper">
          <div class="content">
               <h1>This is a project crafted and maintained by <img src="/assets/brehanulogo.png" alt="Brehanu"></h1>
               <h2><a href="#">I am a designer, developer, and illustrator that shares my knowledge with the world on this blog and YouTube <span class="icon"><i class="fa fa-hand-peace-o"></i></span></a></h2>
               <h4>&copy; 2017 Brehanu. All rights reserved.</h4>
          </div>
     </div>
</section>
